<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Counter</title>
  <link rel="stylesheet" href="theme.css" />
</head>

<body>
  <div class="container pt-5" id="app" v-cloak>
    <div class="card center">
      <div v-html="html"></div>
      <!-- <h1>{{ title }}</h1>
      <h1 v-once> {{title}}</h1>

      <button class="btn" @click="title = 'another title';">Change title</button> -->

      <div class="form-control">
        <input type="text" @keyup.shift.enter.exact="addItem" ref="myInput">
      </div>

      <ul class="list" v-if="items.length">
        <li class="list-item" v-for="(item, idx) in items" @click.left="items.splice(idx,1)" :key="item">
          <strong>{{item}}</strong>&nbsp;
          <input type="text" @click.prevent.stop>
        </li>

        <!-- <li class="list-item" v-for="(value, key) in person">
          <strong>{{key}}:</strong> {{value}}
        </li> -->

      </ul>
      <div v-else>Elements not found</div>
      <div v-show="items.length === 0">Elements not found</div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>